@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

/* Custom selection color wrapped in @layer */
@layer utilities {
  ::selection {
    background-color: #a78bfa !important; /* Light purple */
    color: #ffffff !important; /* White text for contrast */
  }
}
